.App {
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  display: grid;
  justify-items: center;
  min-height: 100vh;
  padding: 24px 8px;
  transition: background-color 2s ease-out;
  width: 100vw;
}

.App--dark {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Navbar START */
.navbar__title {
  text-align: center;
}
/* Navbar END */

/* Actions START */
.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 24px 16px;
}

.checkbox__mode--label {
  margin-right: 8px;
}

.modal__centered {
  backdrop-filter: blur(6px);
  background-color: #000000aa;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.modal__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 48px 24px;
  background-color: var(--background-color);
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 1px 7px 0 rgba(31, 38, 135, 0.37);
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0px;
}

.modal__form--title {
  text-align: center;
}

.modal__form--icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.modal__form--label {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Actions END */

.list__languages {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 48px 16px;
}

.list__languages--article {
  border-radius: 15px;
  border: 1px solid var(--primary-color);
  box-shadow: 0 1px 7px 0 rgba(31, 38, 135, 0.37);
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 240px;
  justify-content: space-around;
  min-width: 180px;
  padding: 16px;
}

.language__title {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.button__like {
  width: 100%;
  margin: 4px 0px;
}

.button__like--counter {
  text-align: end;
  width: 100%;
  display: inline-block;
}

.button__like--icon {
  width: 20px;
  height: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 24px 0;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
