body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);

  --text-color: #282c34;
  --title-color: #888edc;
  --text-button-color: #e0e0e0;
  --text-delete-color: #cb5e5e;
  --background-color: #e0e0e0;
  --primary-color: #888edc;
  --box-shadow: 0 1px 7px 0 rgba(31, 38, 135, 0.37);
}

.App--dark {
  --text-color: #e0e0e0;
  --title-color: #171718;
  --text-button-color: #282c34;
  --background-color: #282c34;
  --primary-color: #e0e0e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 8px 16px;
  transition: all 0.2s ease-out;
}

button,
input[type="submit"],
.button {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  transition: all 0.2s ease-out;
  background-color: var(--primary-color);
  color: var(--text-button-color);
  text-transform: uppercase;
}

button:hover,
input[type="submit"]:hover {
  filter: contrast(0.5);
}

.text {
  color: var(--title-color);
  font-weight: 900;
}
